* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}



*,
*::before,
*::after {
    box-sizing:inherit;
}


html {
    box-sizing:border-box;
    font-size:62.5%; //1rem =10px,10px/16px * 100 = 62.45:

    // BreakPoints
    // xm-phone  270
    // -phone     600
    // -tab-port  900
    // -tab-land  1200
    // -big-desktop >1800
    
    @include respond(big-desktop) {
        font-size:75%;//1rem = 12px/16 = 75%
    }

    @include respond(tab-land) {
        font-size:56.25%; //1rem = 9px/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size:50%;//1rem = 8px/16 = 50%
    }

    @include respond(phone) {
        font-size:40%;
    }

}


body {
    background-color:var(--bg);
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    position:relative;
} 
